nav {
    display: flex;
    flex-direction: column;
    background-color: #B9C2B0;
    align-items: center;
    justify-content: space-between;
}

li .navbar {
    list-style: none;
}

li .navbar a {
    text-decoration: none;
}

.navbar {
    display: inline-block;
}

